.navbar-nav .nav-item {
	padding: 0 15px;
	transition: transform 0.3s;
	position: relative;
}

.navbar-nav .nav-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #007bff;
	transition: width 0.3s;
	transform: translateX(-50%);
}

.navbar-nav .nav-item:hover::after {
	width: 100%;
}

.navbar-nav .nav-item:hover {
	transform: scale(1.2);
	color: #007bff !important;
}

.main-height {
	height: 83.75vh;
}

.barre-size {
	height: 7.5vh;
}

.mid-height {
	height: 41.875vh;
}

.image-container {
	position: relative;
	width: 175px;
	height: 190px;
	margin: 0 auto;
}

.top-image {
	position: absolute;
	top: 75px;
	left: 0;
	width: 175px;
	height: 100px;
}

.bottom-image {
	position:absolute;
	top: 0;
	left: 25px;
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 50%;
}

.overflow-auto::-webkit-scrollbar {
	width: 5px;
}

.overflow-auto::-webkit-scrollbar-thumb {
	background-color: #F4ACBC;
	border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-track {
	border-radius: 10px;
}
