.navbar-nav .nav-item {
	padding: 0 15px;
	transition: transform 0.3s;
	position: relative;
}

.navbar-nav .nav-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #007bff;
	transition: width 0.3s;
	transform: translateX(-50%);
}

.navbar-nav .nav-item:hover::after {
	width: 100%;
}

.navbar-nav .nav-item:hover {
	transform: scale(1.2);
	color: #007bff !important;
}

.main-height {
	height: 83.5vh;
}

.header-size {
	height: 9vh;
}

.bottom-size {
	height: 7.5vh;
}

.mid-height {
	height: 41.75vh;
}

.image-container {
	position: relative;
	width: 175px;
	height: 190px;
	margin: 0 auto;
}

.top-image {
	position: absolute;
	top: 75px;
	left: 0;
	width: 175px;
	height: 100px;
}

.bottom-image {
	position:absolute;
	top: 0;
	left: 25px;
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 100%;
}

.friend-scroll::-webkit-scrollbar {
	width: 5px;
}

.friend-scroll::-webkit-scrollbar-thumb {
	background-color: #F4ACBC;
	border-radius: 10px;
}

.friend-scroll::-webkit-scrollbar-track {
	border-radius: 10px;
}

.profile-bar {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100%;
}

.flex {
	display: flex;
}

.input-wrapper input {
	background-color: white;
	border: none;
	padding: 5%;
	width: 100%;
	height: 40%;
	border-radius: 1rem;
	color: #0D6EFD;
	box-shadow: 0 0.4rem #F4ACBC;
	cursor: pointer;
}

.input-wrapper input:focus {
	outline-color: white;
}

.pong-size {
	height: 480px;
	width: 640px !important;
}

.classement-scrollbar::-webkit-scrollbar {
	width: 5px;
}

.classement-scrollbar::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}

.classement-scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
}

.status {
	width: 16px;
	height: 16px;
	border-radius: 100%;
}

.status.active {
	background-color: #28A745;
}

.status.inactive {
	background-color: #CCCCCC;
}

.status.ingame {
	background-color: #0D6EFD;
}

.tooltip-container {
	--background: #22d3ee;
	position: relative;
	background: var(--background);
	cursor: pointer;
	transition: background 0.3s;
	font-size: 17px;
	padding: 0.7em 1.8em;
  }

  .tooltip {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-10%); /* Adjusted the initial position */
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background: var(--background);
	color: #fff;
	border-radius: 0.3em;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 14px;
	width: 120%; /* Adjusted the width */
	padding: 0.5em 1em; /* Adjusted padding */
	white-space: nowrap; /* Prevent text wrapping */
  }

  .tooltip-container:hover .tooltip {
	top: -100%; /* Adjusted the tooltip position */
	opacity: 1;
	pointer-events: auto;
	transform: translateX(-50%) translateY(0);
  }
