{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<!-- Charger les fichiers statiques CSS -->
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
	<!-- Stylesheets Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- ICON -->
	<link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
	<!-- POLICE: ANTA -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
	<!-- EDIT BUTTON -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Scripts JavaScript Bootstrap (nécessite jQuery) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Autres scripts JavaScript communs -->
</head>
<body class="bg-dark" style="font-family: 'Anta', sans serif;">

	<!-- HEADER -->
	<header class="text-white d-flex justify-content-between header-size border-bottom border-primary" style="border-width: 4px !important;">
		<h1 class="h4 my-auto ml-4">🏳️‍⚧️endence</h1>
		<!-- BOUTON : SE CONNECTER -->
		<div class="my-auto mr-4" id="logbutton">
			<button class="btn btn-outline-light px-2 py-1" href="login">Se connecter</button>
		</div>
		<!-- BOUTON : PROFIL -->
		<div id="profilebar" onclick="Profile()" href="#" class="my-auto mr-4 d-none">
			<img src="{% static 'images/luffy.png' %} " id="profilebar" class="profile-bar border border-primary" style="border-width: 2px !important;">
		</button>
	</header>

	<main id="main" class="main-height d-flex">
		{% block content %}
		{% endblock %}
	</main>

	<div class="bottom-size border-top border-primary my-auto d-flex justify-content-center" style="border-width: 4px !important;">
		<nav class="navbar navbar-expand navbar-nav justify-content-between mx-5 w-100">
			<a class="nav-item nav-link text-white" href="solo">🤖Solo</a>
			<a class="nav-item nav-link text-white" onclick="Page3()" href="#">🕹️Local</a>
			<a class="nav-item nav-link text-white" onclick="Page4()" href="#">⚔️Ranked</a>
			<a class="nav-item nav-link text-white" onclick="Page5()" href="#">🏆Tournoi</a>
			<a class="nav-item nav-link text-white" onclick="Page6()" href="#">👑Classement</a>
		</nav>
	</div>
</body>
</html>
