{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>

	<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">

	<!-- Stylesheets Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- ICON -->
	<link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">

	<!-- POLICE: ANTA -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

	<!-- EDIT BUTTON -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="bg-dark" style="font-family: 'Anta', sans serif;">

	<header class="text-white d-flex justify-content-between header-size border-bottom border-primary" style="border-width: 4px !important;">
		<h1 class="h4 my-auto ml-4">🏳️‍⚧️endence</h1>
		{% if request.user.is_authenticated %}
			<div id="profilebar" class="my-auto mr-4">
				<img src="{{ user.profile_picture.url }}" class="profile-bar border border-primary" style="border-width: 2px !important;">
			</div>
		{% else %}
			<div id="logbutton" class="d-flex my-auto mr-4">
				<div class="mr-2">
					<button class="btn btn-outline-light redir px-2 py-1" href="login">Se connecter</button>
				</div>
				<div>
					<button class="btn btn-outline-light redir px-2 py-1" href="register">S'inscrire</button>
				</div>
			</div>
		{% endif %}
	</header>

	<main class="main-height d-flex">
		<!-- FRIEND BAR -->
		<div id="friendbar" class="main-height text-white border-right border-primary rounded-5" style="width: 15%; border-width: 3px !important;">
		{% if request.user.is_authenticated %}
			<div class="pl-4 pr-2 pt-3">
				<h4>Ami(e)s</h4>
				<div class="overflow-auto friend-scroll d-flex flex-column mt-2" style="height: 35vh;">
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<div class="my-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#28A745" viewBox="0 0 448 512">
								<path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
							</svg>
							<span class="ml-2">margesexy</span>
						</div>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
							</svg>
						</button>
					</div>
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<div class="my-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#CCCCCC" viewBox="0 0 448 512">
								<path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
							</svg>
							<span class="ml-2">pierre</span>
						</div>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
							</svg>
						</button>
					</div>
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<div class="my-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#0D6EFD" viewBox="0 0 448 512">
								<path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
							</svg>
							<span class="ml-2">jacques</span>
						</div>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="pl-4 pr-2 pt-3">
				<h4>Demandes</h4>
				<div class="overflow-auto friend-scroll d-flex flex-column mt-2" style="height: 20vh;">
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<span class="my-auto mr-auto">coday</span>
						<button class="btn-sm rounded-2 mr-2" style="background-color: #0D6EFD; color:white; border-color:#0D6EFD;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
								<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
							</svg>
						</button>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
								<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
							</svg>
						</button>
					</div>
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<span class="my-auto mr-auto">supernain</span>
						<button class="btn-sm rounded-2 mr-2" style="background-color: #0D6EFD; color:white; border-color:#0D6EFD;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
								<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
							</svg>
						</button>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
								<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
							</svg>
						</button>
					</div>
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<span class="my-auto mr-auto">NulàLol</span>
						<button class="btn-sm rounded-2 mr-2" style="background-color: #0D6EFD; color:white; border-color:#0D6EFD;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
								<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
							</svg>
						</button>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
								<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
							</svg>
						</button>
					</div>
					<div class="pt-1 mb-2 d-flex justify-content-between mr-3">
						<span class="my-auto mr-auto">LeCapitaine</span>
						<button class="btn-sm rounded-2 mr-2" style="background-color: #0D6EFD; color:white; border-color:#0D6EFD;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
								<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
							</svg>
						</button>
						<button class="btn-sm rounded-2" style="background-color: #F4ACBC; color:white; border-color:#F4ACBC">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
								<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="input-wrapper pl-3 pr-3 pt-4">
					<input type="text" placeholder="Ajouter iel ami(e)..." name="text" class="input">
			</div>
			{% else %}
				<div id="logrequire" class="main-height flex flex-column align-items-center justify-content-center mx-auto">
					<img src="{% static 'images/not_connected.svg' %}" class="img-fluid mb-3" style="width: 50vh; height: 15vh;">
					<p class="text-center text-white m-0" >Veuillez vous connecter</p>
				</div>
			{% endif %}
		</div>
		<div id="content" class="d-none flex flex-column justify-content-center mx-auto"></div>
		<div id="logcontent" class="d-none text-white mx-auto text-center rounded-3 border border-light my-auto p-2 flex flex-column justify-content-center" style="background: linear-gradient(to right, #0D6EFD, #F4ACBC); width: 35%; height: 80%; border-width: 3px !important;"></div>
	</main>

	<footer class="bottom-size border-top border-primary my-auto d-flex justify-content-center" style="border-width: 4px !important;">
		<nav class="navbar navbar-expand navbar-nav justify-content-between mx-5 w-100">
			<a class="nav-item nav-link text-white redir" href="solo">🤖Solo</a>
			<a class="nav-item nav-link text-white redir" href="local">🕹️Local</a>
			<a class="nav-item nav-link text-white redir" href="ranked">⚔️Ranked</a>
			<a class="nav-item nav-link text-white redir" href="tournament">🏆Tournoi</a>
			<a class="nav-item nav-link text-white redir" href="ranking">👑Classement</a>
		</nav>
	</footer>
	<script src="static/js/router.js"></script>
	<script src="static/js/solo.js"></script>
	<script src="static/js/local.js"></script>
	<script src="static/js/login.js"></script>
	<script src="static/js/ranked.js"></script>
</body>
</html>

