{% extends "head.html" %}

{% block content %}
<form id="loginForm" class="text-white mx-auto text-center rounded-3 border border-light my-auto p-5 d-flex flex-column justify-content-between" action="" style="background: linear-gradient(to right, #0D6EFD, #F4ACBC); width: 25%; height: 50%; border-width: 3px !important;">
	<h2>Se connecter</h2>
	{% csrf_token %}
	<div class="log-input d-flex flex-column align-items-center">
		<input id="usernameInput" placeholder="Identifiant" type="text"/>
		{{ form.username }}
		{% for error in form.username.errors %}
		    <div id="usernameMissing" class="text-danger d-none">Veuillez saisir votre identifiant</div>
		{% endfor %}
	</div>
	<div>
		<div class="log-input d-flex flex-column align-items-center">
			<input id="passwordInput" placeholder="Mot de passe" type="password"/>
			{{ form.password }}
			{% for error in form.password.errors %}
            <div id="passwordMissing" class="text-danger d-none">Veuillez saisir votre mot de passe</div>
			{% endfor %}
			<a class="text-white mt-1" href="#">Mot de passe oublié ?</a>
		</div>
	</div>
	<div>
		<button class="btn btn-light" type="submit">Se connecter</button>
		<button style="color:#ffffff" class="btn btn-dark">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" font-size-adjust="14px"><path d="M24 12.42l-4.428 4.415H24zm-4.428-4.417l-4.414 4.418v4.414h4.414V12.42L24 8.003V3.575h-4.428zm-4.414 0l4.414-4.428h-4.414zM0 15.996h8.842v4.43h4.412V12.42H4.428l8.826-8.846H8.842L0 12.421z"></path></svg>
			<span class="ml-1">Intra</span>
		</button>
	</div>
	{% if form.errors %}
		<div class="alert alert-danger mt-2">
			{{ form.non_field_errors }}
		</div>
	{% endif %}
	<p>Pas de compte? <a class="text-white" href="register">S'inscrire</a></p>
</form>
{% endblock %}
