{% extends 'index.html' %}

{% block content %}
<div id="ranking" class="d-flex flex-column justify-content-center text-white text-center mx-auto">
    <h2 class="mx-auto my-0 pb-3">CLASSEMENT</h2>
    <div class="overflow-auto rounded-3 mb-4 ranking-scrollbar" style="max-height: 65vh;">
        <table class="table table-striped table-dark m-0" style="width: 80vh;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Victoires</th>
                    <th scope="col">Défaites</th>
                </tr>
            </thead>
            <tbody>
                {% for player in top_players %}
                <tr>
                    <th scope="row">{{ player.position }}</th>
                    <td>
                        <a class="redir text-white" href="/profile/?id={{ player.id }}">{{ player.username }}</a>
                    </td>
                    <td>{{ player.games_rank }}</td>
                    <td>{{ player.games_win }}</td>
                    <td>{{ player.games_loose }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
