
<div id="ranking" class="d-flex flex-column justify-content-center text-white text-center mx-auto">
	<h2 class="mx-auto my-0 pb-3">CLASSEMENT</h2>
	<div class="overflow-auto rouded-3 mb-4 ranking-scrollbar" style="max-height: 65vh;">
		<table class="table table-striped table-dark m-0" style="width: 80vh;">
			<thead>
				<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Rang</th>
				<th scope="col">Victoires</th>
				<th scope="col">Défaites</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>110</td>
					<td>70</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

