<div id="ranked" class="d-flex flex-column justify-content-center mx-auto">
    <h2 class="text-white text-center mx-auto my-0">RANKED</h2>
    <!-- Ajout du score et classement du joueur -->
    <div id="player-stats" class="text-center text-white my-2"></div>
    <!-- Canvas du jeu -->
    <canvas id="canvas1" class="my-2" width="640" height="480"></canvas>
    <!-- Bouton pour rejoindre une partie classée -->
    <div class="d-flex justify-content-center">
        <button id="join-ranked" class="btn btn-primary">Rejoindre une partie classée</button>
    </div>
</div>
