{% extends 'index.html' %}

{% block content %}
<div id="logcontent" class="text-white mx-auto text-center rounded-3 border border-light my-auto p-2 d-flex flex-column justify-content-center" style="background: linear-gradient(to right, #0D6EFD, #F4ACBC); width: 35%; height: 75%; border-width: 3px !important;">
	<h2>S'inscrire</h2>
	<div id="errorInfo" class="text-danger d-none">Identifiant ou Email non disponible</div>
	<form id="registerForm" method="post" class="mb-1">
		{% csrf_token %}
		<div class="log-input d-flex flex-column align-items-center">
			<input id="id_first_name"  maxlength="15" name="first_name" placeholder="Prénom" type="text"/>
			<div id="firstMissing" class="text-danger d-none">Veuillez saisir votre prénom</div>
		</div>
		<div class="log-input d-flex flex-column align-items-center my-2">
			<input id="id_last_name"  maxlength="15" name="last_name" placeholder="Nom" type="text"/>
			<div id="lastMissing" class="text-danger d-none">Veuillez saisir votre nom</div>
		</div>
		<div class="log-input d-flex flex-column align-items-center">
			<input id="id_username"  maxlength="15" name="username" placeholder="Identifiant" type="text"/>
			<div id="usernameMissingReg" class="text-danger d-none">Veuillez saisir votre identifiant</div>

		</div>
		<div class="log-input d-flex flex-column align-items-center my-2">
			<input id="id_password"  name="password" placeholder="Mot de passe" type="password"/>
			<div id="passwordMissingReg" class="text-danger d-none">Veuillez saisir votre mot de passe</div>
			<div id="passwordLenght" class="text-danger d-none">8 caracteres minimum requis</div>
		</div>
		<div class="log-input d-flex flex-column align-items-center">
			<input id="id_email"  name="email" maxlength="320" placeholder="Email" type="text"/>
			<div id="emailFormat" class="text-danger d-none">Format Email non valide</div>
			<div id="emailMissing" class="text-danger d-none">Veuillez saisir votre email</div>
		</div>
		<div>
			<button class="btn btn-light mt-2" type="submit">S'inscrire</button>
		</div>
	</form>
</div>
{% endblock %}
