{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="{% static 'css/userlist.css' %}">
</head>
<body>
<div class="container">
    <h1>Liste des Utilisateurs</h1>
    <div class="card-deck">
        {% for user in users %}
        <div class="card">
            <!-- Image de profil (si disponible) -->
            <img src="{{ user.profile_picture.url }}" class="card-img-top" alt="Photo de Profil">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text">{{ user.username }}</p>
				<p class="card-text">{{ user.status }}</p>
                <p class="card-text">URL {{ user.profile_picture.url }}</p>
                <p class="card-text">Mail: {{ user.email }}</p>
                <p class="card-text">Parties Jouées: {{ user.games_played }}</p>
                <p class="card-text">Victoire: {{ user.games_win }}</p>
                <p class="card-text">Défaite: {{ user.games_loose }}</p>
                <p class="card-text">Rang: {{ user.games_rank }}</p>
				<p class="card-text">dernière connexion: {{ user.last_login }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
